.vs/
.vscode/
.tags
.idea
build/
Build/
MSBuild/
README.md
doc
/ninja
/scripts
# Conan
conaninfo.txt
conanbuildinfo.*
conan.lock

# Vcpkg
vcpkg_installed/
vcpkg-manifest-install.log

# IDE
.vscode/
.idea/
*.swp